// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root{
    --ion-color-danger: #971a1e;
	--ion-color-danger-rgb: 151,26,30;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #85171a;
	--ion-color-danger-tint: #a13135;



	
	--ion-color-warning: #fdc13d;
	--ion-color-warning-rgb: 253,193,61;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #dfaa36;
	--ion-color-warning-tint: #fdc750;
}